@{
    ViewData["Title"] = "Home Page";
}

<di class="text-center">
    <h1>Bienvenue</h1>
    <h2>Projet initié par Romain Trauchessec</h2>
</di>
<div class="pt-5">
    <h3 class="pb-4">Vue d'ensemble du projet</h3>
    <p>Nous allons développer ensemble une application web en utilisant la technologie ASP.Net Core de Microsoft. Cette application aura pour but de vous permettre de consulter en temps réel, la disponibilité des vélos et places dans les stations VeloV de Lyon et son agglomération.</p>
    <p class="m-0">Dans ce TP, vous allez pouvoir vous confronter aux points suivants :</p>
        <ul class="m-0">Créer une application web</ul>
        <ul class="m-0">Enregistrer votre code sur une plateforme Git telle que Github ou Bitbucket</ul>
        <ul class="m-0">Lire et enregistrer des données depuis une base SQL</ul>
        <ul class="m-0">Consommer des données temps réel issues d'une API publique</ul>
        <ul class="m-0">Afficher les données sous forme de tableau et de carte interactive</ul>
        <ul class="m-0">Déployer votre application sur un serveur accessible en ligne</ul>
</div>
<div class="pt-5">
    <h3 class="pb-4">Liste des objectifs :</h3>
    <section>
        <div>
            <ul class="check-list">
                <li> Avoir une application ASP.Net Core de base nommée "BikeWatcher" qui tourne sur sa machine</li>
                <li>Créer un repository public sur github, bitbucket ou gitlab pour héberger votre code.</li>
                <li>Publier votre code sur le repository à chaque avancée</li>
                <li>Supprimer du menu les pages de bases pour 2 liens de menu fonctionnels vers les pages vides suivantes : "Accueil", "Liste des stations", "Carte", "Mes favoris"</li>
                <li>Compléter la pages "Accueil" pour présenter votre travail, votre nom/prenom, cette liste d'objectifs (que vous rayerez au fur et à mesure) et l'URL où votre code source est visible</li>
                <li>Se brancher sur l'API VeloV du grand Lyon pour récupérer les données en temps réel.</li>
                <li>Afficher les données de l'API sous forme de tableau sur la page "Liste des stations" (les stations sont triées par ordre alphabétique)</li>
                <li>Afficher les données de l'API sous forme de carte sur la page "Carte" (chaque station sera représentée par une épingle à son emplacement)</li>
                <li>Ajouter sur caque épingle de la carte la possibilité de cliquer pour afficher une infobulle qui indiquera le nombre de vélos et de places à la station en question</li>
                <li>Ajouter sur la page "Liste des stations" et/ou "Carte" la possibilité de rajouter des stations en favoris</li>
                <li>Compléter la page "Mes favoris" pour n'afficher sous forme de tableau que les stations marquées en favoris</li>
                <li>Centrer automatiquement la carte par rapport à la position de l'utilisateur</li>
                <li>Trier automatiquement la liste des stations par rapport à la position de l'utilisateur</li>
                <li>Rendre votre application utilisable à la fois pour la ville de Lyon et la ville de Bordeaux (par exemple un bouton permettra de passer de l'un à l'autre dans le menu)</li>
                <li>Faire en sorte que votre site soit agréable à utiliser sur mobile (il ne doit pas comporter ascenseur horizontal)</li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <ul class="not-check-list">
                <div class="pt-5">
                    <li>Ajouter la possibilité de créer un compte utilisateur sur votre application</li>
                    <li>Stocker les stations favorites dans une base SQL</li>
                    <li>Rendre votre application bilingue Français / Anglais</li>
                    <li>Déployer votre code sur un serveur accessible publiquement en consultation</li>
                    <li>Permettre aux utilisateurs de signaler un vélo en panne</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </div>
            </ul>
        </div>
    </section>
    <style>
        .check-list {
            margin: 0;
            padding-left: 1.2rem;
        }

            .check-list li {
                position: relative;
                list-style-type: none;
                padding-left: 2.5rem;
                margin-bottom: 0.5rem;
            }

        .not-check-list {
            margin: 0;
            padding-left: 1.2rem;
        }

            .not-check-list li {
                position: relative;
                list-style-type: none;
                padding-left: 2.5rem;
                margin-bottom: 0.5rem;
            }

        .check-list li:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: -2px;
            width: 5px;
            height: 11px;
            border-width: 0 2px 2px 0;
            border-style: solid;
            border-color: #00a8a8;
            transform-origin: bottom left;
            transform: rotate(45deg);
        }
    </style>
</div>
<div class="pt-5">
    <h3>URL du code source de l'aplication disponible <a href="https://github.com/trauchessec/YNov-Lyon---TP-velos-C-dotnet-core" target="_blank">ici</a></h3>
</div>
