@model List<Stations>
@{
    ViewData["Title"] = "StationList";
    string ville = ViewBag.Ville;
}

<script type="text/javascript">
    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function (position) {
            lat = position.coords.latitude;
            lon = position.coords.longitude;

            if (window.location.search) {
                return;
            }
            window.location.replace("\StationList?latitudeUser=" + lat + "&longitudeUser=" + lon);
        });
    }
</script>

<h1 class="pb-4">Liste des stations de @ville</h1>

<a href="?ville=bordeaux">Bordeaux</a>
<a href="?ville=lyon">Lyon</a>

<div class="row">
    <div class="col-6">
        <h3>Nom des stations</h3>
        @foreach (var Stations in Model)
        {
            <p>@Stations.name</p>
        }
    </div>
    <div class="col-6">
        <h3>Vélo disponible</h3>
        @foreach (var Stations in Model)
        {
            <p>@Stations.available_bike_stands</p>
            <a href="?idFav=@Stations.number">Favoris</a>
        }
    </div>
</div>